.arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 80px;
    height: 140px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 100%;
    cursor: pointer;
}

.prev {
    background: linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    left: 0;
}

.next {
    background: linear-gradient(to left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    right: 0;
}

.content {
    position: relative;
    height: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;    ;
    transform: translate(-50%,-50%);
}

.next .icon:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: solid #FFF;
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
}

.prev .icon:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: solid #FFF;
    border-width: 3px 3px 0 0;
    transform: rotate(-135deg);
}
