.Player {
  background: #1b1b1b;
  height: 100%;
  display: flex;
}

.second {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.second.left {
  left: 10px;
}

.second.right {
  right: 10px;
}
