.App {
  text-align: center;
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
}

.sidebar {
  height: 100%;
  position: fixed;
  background: #0e0e0e;
  top: 53px;
  padding-left: 0;
  width: 200px;
  overflow: auto;
}

.main {
  width: calc(100% - 200px);
  height: calc(100% - 50px);
  position: absolute;
  right: 0;
  background: #1f1f1f;
  top: 50px;
  overflow-y: scroll;
}

.title {
  text-align: left;
  margin-top: 50px;
  text-transform: uppercase;
  text-indent: 20px;
}

.footer {
  position: fixed;
  height: 75px;
  width: 100%;
  bottom: 0;
}
